/* Brutalist / Minimalist Monochromatic Theme */
body {
    background-color: #ffffff;
    color: #000000;
}

input, select, textarea {
    outline: none;
}

input:focus, select:focus, textarea:focus {
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
}

.flipped {
    background-color: #000000 !important;
    color: #ffffff !important;
}
